/* LoginPage.css */

.login-page-wrapper {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-primary);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.login-page-content {
  display: flex;
  padding-top: 80px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-page-title {
  font-size: 140px;
  font-weight: 500;
  color: var(--text-primary);
  margin: 0 0 20px 0;
  padding-bottom: 50px;
  line-height: 1;
  letter-spacing: -2px;
}
