/* LoginPage.css */

.login-page-wrapper {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-primary);
  font-family: var(--font-primary);
}

.login-page-content {
  display: flex;
  padding-top: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-page-title {
  font-family: var(--font-primary);
  font-size: clamp(80px, 15vw, 200px);
  font-weight: var(--font-weight-regular);
  color: var(--color-text-heading);
  margin: 0 0 10px 0;
  padding-bottom: 20px;
  line-height: 1;
  letter-spacing: var(--letter-spacing-heading);
}
